header{
background:#96d475;
width: auto;
height: 200px;
      }

.nav nav-tabs{
text-align: center;
             }

.nav-item{
padding-top:10px;
color: white;
font-size: 20px;
display: inline;
margin-right: 60px;
margin-left: 60px;
         }

.nav-link{
color: aliceblue;
         }

.nav-link:hover{
color: grey;
background-color: honeydew;
               }

.logo{
display: block;
margin-left: auto;
margin-right: auto;
width: 558px;
     }

body{
background: ghostwhite;
    }

body p{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
margin-top: 80px;
margin-bottom: 50px;
color: grey;
font-size: 20px;
      } 

.p1{
text-align: right;
margin-left: 50%;
margin-right: 10%;
   }

.p2{
text-align: left;
margin-left: 10%;
margin-right: 50%;
   }

.img-flor{
width: 150px;
         }

.produtos{
display: flex;
justify-content: center;
align-items: center;
margin: 60px 200px;
        }
    
.produtos li{
padding: 30px;
display: inline-block;
text-align: center;
margin: 1.5%;
box-sizing: border-box;
border: 3px solid #96d475;
border-radius: 35px;
            }
    
.produtos li:hover{
border-color: rgb(195, 240, 106);
                  }
    
.produtos li:active{
border-color: #3f643f;
                   }
    
.produtos h2{
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
            }

.flor{
margin-top: 10px;
font-size: 25px;
font-weight: bold;
color: grey;
     }
  
.preco{
font-size: 16px;
font-weight: bold;
margin-top: 15px;
margin-bottom: 5px;
      }

.break-column {
flex-basis: 100%;
width: 0;
              }

footer{
height: 150px;
margin-top: 100px;
background:#96d475;
      }

.footer-h{
display: flex;
justify-content: center;
align-items: center;
font-size: 17px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 50px;
color: white;
         }

.footer-p{
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
color: rgb(21, 92, 42);

         }

.footer-p:hover{
color: beige;
               }